@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr{
  height: 2px;
  opacity: 0.6;
  border: none;
  background-color: #0F172AB2;
}

h1, h2, h3, h4, h5{
  font-family: 'DM Serif Display';
  font-style: normal;
}

p, a, {
  font-family: 'Inter';
font-style: normal;
}